@font-face {
    font-family: "OpenSans Bold";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "OpenSans Regular";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  .popup {
    font-family: "OpenSans Regular";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: flex;

    background-color: rgba(0, 0, 0, 0.6);
}

.popup-container {
    position: relative;

    margin: auto;
    padding: 50px 30px;
    background-color: #ffffff;
}

.feedback-row:nth-child(n+2) {
    margin-top: 30px;
}

.feedback-hint {
    display: block;
    margin-bottom: 10px;

    font-size: 13px;
}

.feedback-field {
    width: 100%;
    border: none;
    padding: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 13px;
    background-color: #f4f7f6;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right 13px center;
}

.feedback-radio-hint {
    margin-right: 13px;
    font-size: 13px;
}

.feedback-radio-hint::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;

    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    vertical-align: middle;
}

.feedback-radio:checked ~ .feedback-radio-hint::before {
    background-image: url("../svg/form-circle.svg")
}

.feedback-textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 132px;
    max-height: 200px;
    border: none;
    padding: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 13px;
    background-color: #f4f7f6;
}

.feedback-button {
    width: 100%;
    height: 48px;
    border: 0;

    background-color: #b59f5b;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;

    cursor: pointer;
}

.feedback-button:hover {
    background-color: #756535;
}

.feedback-close {
    position: absolute;
    top: -25px;
    right: 0;

    border: none;
    width: 19px;
    height: 19px;

    background-color: transparent;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 19px;
    text-indent: -9999px;
}

  ._hidden {
    display: none;
  }
  
  .header {
    background-image: url("../img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    /* min-width: 1200px; */
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 128px;
    padding-top: 36px;
    z-index: 1;
  }
  
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: #000000;
  }
  
  .container {
    margin: 0 auto;
    /* min-width: 1170px; */
    max-width: 1200px;
    /* height: 450px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 21px;
    padding-right: 15px;
    z-index: 1;
    position: relative;
  }
  
  .container-menu {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 100px;
  }
  
  .header-logo {
    width: 179px;
  }

  .header-logo-mob {
    display: none;
  }
  
  
  @media (min-width: 1200px) {
    .menu-burger {
        display: none;
    }

    .headline {
      padding-left: 245px;
      padding-right: 245px;
    }
  }

  .menu-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-list-item {
    vertical-align: top;
    list-style-type: none;
  }
  
  .menu-list-item:nth-child(n + 2) {
    margin-left: 36px;
  }
  
  a {
    text-decoration: none;
  }
  
  .menu-list-item a:hover {
    text-decoration: underline;
  }
  .menu-link {
    font-family: "OpenSans Regular";
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
  }
  
  .headline {
    /* width: 730px; */
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    font-family: "OpenSans Bold";
    font-weight: bold;
    font-size: 45px;
    line-height: 75px;
    
    color: #ffffff;
  }
  
  .container-main {
    /* width: 778px; */
    /* padding-bottom: 70px; */
    /* border: 2px solid red; */
  }

  .trends {
    /* display: block; */
    z-index: 1;
  }

  .trends-header {
    margin: 62px 0 44px 0;
  }

  .line {
    position: relative;
    font-family: "OpenSans Bold";
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
  }

  .line::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 66px;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -33px;
    margin-top: 22px;
    background-color: #b59f5b;
    opacity: 40%;
  }

  .trends-container {
    display: flex;
    justify-content: center;
    gap: 4px;
    z-index: 1;
  }

  .trend {
    box-sizing: border-box;
    flex: 1 1 0;
    position: relative;
    min-height: 328px;
    display: flex;
    align-items: end;
    /* justify-content: center; */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #000000;
    /* min-width: 381px; */
    /* width: calc(100% / 4 - 12px); */
    text-transform: uppercase;
    /* position: relative; */
    padding: 0 22px 16px 18px;
    border: 2px solid #b59f5b;
  }

  .trend1 {
    background-image: url("../img/trend1.jpg");
  }

  .trend2 {
    background-image: url("../img/trend2.jpg");
  }

  .trend3 {
    background-image: url("../img/trend3.jpg");
  }

  .trend4 {
    background-image: url("../img/trend4.jpg");
  }

  .trend:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .6);
    }

  .trend-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 37px 34px;
    border: 2px solid #b59f5b;
    z-index: 1;
  }

  
  
  

  .cards {
    max-width: 778px;
    margin: 0;
  }
  
  .card {
    display: flex;
  }

  
  
  .card:nth-child(n + 2) {
    margin-top: 54px;
  }
  
  .card-image-container {
    width: 379px;
    box-sizing: border-box;
    flex: 1 0 auto;
    margin-right: 30px;
    /* background: #b59f5b; */
  }

  .card-image {
    width: 100%;
    margin-right: 30px;
    object-fit: cover;
    position: relative;
    /* border: 10px solid red; */
  }
  
  
  .card-description {
    /* width: 380px; */
  }
  
  .card-header {
  /*   margin-top: 54px; */
  }
  .paragraph {
    font-size: 15px;
    line-height: 22px;
    font-family: "OpenSans Regular";
  }
  
  .category {
    display: flex;
    flex-wrap: wrap;
  
    list-style-type: none;
  }
  
  .category-name {
  }
  
  .category-item {
    font-family: "OpenSans Bold";
    font-weight: bold;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .category-name:nth-child(n + 2) {
    margin-left: 20px;
  }
  
  .card-name {
    font-family: "OpenSans Bold";
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    text-transform: uppercase;
    
  }
  
  .card-name-link {
    text-decoration: none;
    color: #0f0d0e;
  }

  .trend-name-link {
    color: white;
  }

  .card-name-link:hover {
    color: #cc9966;
  }
  .card-info {
    padding-bottom: 55px;
    padding-top: 26px;
  }
  
  .card-date {
    font-family: "OpenSans Regular";
    font-weight: 400;
    font-size: 12px;
    color: #888888;
    text-transform: capitalize;
    margin-right: 15px;
  }
  
  .card-author {
    font-family: "OpenSans Bold";
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    text-transform: inherit;
  }

  
  
  .content-container {
    box-sizing: border-box;
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    align-items: flex-start;
    /* justify-content: space-between; */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 64px;
    z-index: 1;
    /* border: 3px solid red; */
  }
  
  aside section:nth-of-type(n + 2) {
    margin-top: 60px;
  }
  
  .sidebar {
    /* margin-right: 15px; */
    width: 272px;
    /* border: 2px solid red; */
  }
  
  .recent-posts {
    margin-top: -6px;
    text-align: justify;
    font-family: "OpenSans Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-transform: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
  }
  
  .title {
    display: block;
    position: relative;
    margin-top: -2px;
    font-family: "OpenSans Bold";
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 44px;
    text-decoration: none;
  }
  
  .title::after {
    content: "";
    display: flex;
    position: absolute;
    height: 2px;
    width: 66px;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -33px;
    margin-top: 20px;
    background-color: #b59f5b;
    opacity: 40%;
  }
  
  .recent-post-link {
    color: #000000;
  }
  .recent-post-link:hover {
    color: #cc9966;
  }
  .recent-post {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
  }
  
  .recent-post:first-child {
    padding-top: 64px;
    min-width: 272px;
    height: 60px;
  }
  
  .recent-post:nth-child(n + 3) {
    margin-top: 20px;
  }
  
  .recent-post-image {
    min-width: 70px;
    min-height: 70px;
    margin-right: 15px;
    object-fit: cover;
    position: relative;
  }
  
  .recent-post-title {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -9px;
    margin-left: 4px;
  }
  
  .recent-post-date {
    font-family: "OpenSans Regular";
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    text-transform: inherit;
    margin-top: 3px;
  }
  
  .recent-post-name {
    font-family: "OpenSans Bold";
    font-weight: bold;
    font-size: 14px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: left;
    margin-top: 4px;
  }
  
  .search {
    display: flex;
    flex-grow: 1;
    margin-top: 60px;
    box-sizing: border-box;
  }
  
  .button-search {
    width: 48px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
  }
  
  .button-search:hover {
    outline: 1px solid #8f7e49;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .search-text-input {
    box-sizing: border-box;
    min-width: 224px;
    height: 48px;
    margin: 0;
    padding: 0 20px;
    border: none;
    background-color: #f4f7f6;
    
    display: block;
  
  /*   padding-left: 20px; */
    border: 0;
    font-family: "OpenSans Regular";
    font-weight: 400;
    font-size: 13px;
    color: #a2a4a3;
  }
  
  input:focus {
    outline: none;
  }
  
  .button-search:hover,
  .subscribe-button:hover {
    outline: 1px solid #b59f5b;
  }
  
  .subscribe-container {
    position: relative;
    margin-top: 55px;
  }
  
  .subscribe {
    display: flex;
    flex-direction: column;
    margin-top: -11px;
  }
  
  .email {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    margin-bottom: 20px;
    font-family: "OpenSans Regular";
    font-weight: 400;
    font-size: 13px;
    padding: 0 20px;
    color: #a2a4a3;
    border: 0;
  }
  
  .subscribe-button {
    border: none;
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    text-transform: uppercase;
    font-family: "OpenSans Bold";
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
  
  .tags,
  .categories {
    width: 272px;
  }
  
  .tags-container {
    position: relative;
  }
  
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  .tag-list {
    margin: -2px;
  }
  
  .tag-list-item {
    margin: 3px 3px;
  }
  
  .tag-link {
    display: block;
    font-family: "OpenSans Bold";
    font-weight: bold;
    font-size: 12px;
    color: #0f0d0e;
    text-transform: uppercase;
    border: 3px solid #eeeeee;
    padding: 5px 12px;
  }
  .tag-link:hover {
    border: 3px solid #b59f5b;
  }
  
  .category-link {
    font-family: "OpenSans Bold";
    font-weight: bold;
    font-size: 14px;
    color: #0f0d0e;
  }
  
  .categories-container {
    position: relative;
  }
  
  .category-list-item {
    padding-bottom: 8px;
    border-bottom: 1px solid #eeeeee;
    list-style-type: none;
  }
  .category-list-item a:hover {
    color: #cc9966;
  }
  
  .category-list-item:nth-child(n + 2) {
    margin-top: 15px;
  }
  
  .index {
    vertical-align: super;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #b59f5b;
  }

  

  

  .product-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    min-height: 260px;
    margin: 172px 0 64px 0;
    padding: 54px 20px 0 20px;
    border: 2px solid #b59f5b;
  }

  .products-header {
    margin: 0 0 61px 0;
  }

  .products {
    display: block;
  }
  
  .products-container {
    display: flex;
    justify-content: center;
    gap: 2%;
    /* min-width: 1200px; */
  }

  .product {
    display: flex;
    position: relative;
    width: 345px;
    box-sizing: border-box;
  }

  .product-image {
    position: absolute;
    /* min-width: 300px; */
    left: 50%;
    margin-left: -150px;
    
  }

  .product-content {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    
    gap: 25px;
  }

  .product-text {
    /* flex: 1 1 0; */
    display: flex;
    flex-direction: column;
  }

  .product-info {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    display: flex;
  }

  .product-name {
  }

  .text-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .store-button {
    width: 138px;
    height: 48px;
  }

  .price {
    font-family: OpenSans Bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  .discount {
    font-family: OpenSans Bold;
    font-size: 14px;
    text-decoration: line-through;
  }

  .text-link {
    color: #b59f5b;
  }

  .footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    max-width: 1200px;
  }
  
  .address {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f7f6;
    margin-bottom: 70px;
    padding: 42px 0;
  }
  
  .social-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .socials-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
  }
  
  .socials-link-dribbble {
    background-image: url("../svg/001-dribbble.svg");
  }
  
  .socials-link-pinterest {
    background-image: url("../svg/001-pinterest.svg");
  }
  
  .socials-link-tumblr {
    background-image: url("../svg/003-tumblr.svg");
  }
  
  .social-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .social-logo:nth-child(n + 2) {
    margin-left: 25px;
  }
  
  .socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .copyright {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #c6c6c6;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 641px) and (max-width: 1199px) {

    .container-menu {
      margin-bottom: 85px;
    }

    .header {
      height: 391px;
    }

    .headline {
      padding-top: 0;
      padding-left: 47px;
      padding-right: 47px;
      font-size: 40px;
      line-height: 55px;
    }

    .content-container {
      padding: 50px 35px 0 35px;
    }

    .trends-header {
      margin: 41px 0 27px 0;
      font-size: 18px;
      line-height: 29px;
    }

    .trends-container {
      flex-wrap: wrap;
    }
    
    .trend {
      flex: 0 1 auto;
      height: 247px;
      padding: 0;
    }

    .trend-container {
      padding: 35px 30px;
      margin: 0 19px 15px 19px;
    }

    .trend-name-link {
      font-size: 17px;
      line-height: 22px;
    }

    .card-header {
      padding-top: 12px;
    }

    .card-info {
      padding-bottom: 35px;
    }

    .card-name {
      font-size: 17px;
      line-height: 24px;
    }

    .card-image {
      width: 390px;
    }

    .card:nth-child(5):after {
      content: "";
      display: none;
    }

    .products-container {
      flex-wrap: wrap;
      justify-content: start;
    }

    .product {
      width: 48%;
    }

    .line {
      margin-top: 50px;
    }
  }

  @media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .trends-container {
        flex-wrap: wrap;
    }

    .trend {
      width: calc((100% - 4px) / 2);
      flex: 0 1 auto;
    }

    .sidebar {
      /* width: 272px; */
      box-sizing: border-box;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }

    .container-main{
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }



    .card-description {
      max-width: 390px;
    }
}
  
  @media (max-width: 1199px) {
    .container-menu {
      align-items: center;
    }

    .menu {
      display: none;
    }

    .menu-burger {
      width: 1em;
      height: 1em;
      border: none;
      padding: 0;
      background-color: transparent;
      font-size: 25px;
      position: relative;
      text-indent: -9999px;
      cursor: pointer;
  }

  .menu-burger-label {
      width: 100%;
      height: 20%;
      margin-top: -0.1em;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      top: 50%;
  }

  .menu-burger:before {
      top: 0;
  }

  .menu-burger:before,
  .menu-burger:after {
      content: "";
      width: 100%;
      height: 20%;
      background-color: #ffffff;
      position: absolute;
      left: 0;
  }

  .menu-burger:after {
      bottom: 0;
  }

  .card {
    display: block;
  }

  .card::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 388px;
    text-align: center;
    margin-top: 22px;
    background-color: #ededed;
    /* opacity: 40%; */
  }

  }

  @media (max-width: 640px) {
    .header {
      height: 639px;
    }

    .container-menu {
      margin: 0;
      /* justify-content: end; */
    }

    .logo-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .header-logo-mob {
      display: block;
      text-align: center;
      width: 270px;
      padding-top: 180px;
      padding-bottom: 45px;
    }

    .header-logo {
      display: none;
    }

    .headline {
      width: 300px;
      font-size: 26px;
      line-height: 36px;
    }

    .trends-header {
      margin: 44px 0 40px 0;
      font-size: 16px;
      line-height: 29px;
    }

    .trend {
      min-height: 230px;
      margin-bottom: 3px;
    }

    .content-container {
      padding-top: 42px;
    }

    .content-container {
      flex-wrap: wrap;
    }

    .card::after {
      width: 330px;
    }

    .card-image {
      width: 330px;
      /* display: block; */
      margin-right: 0;
      object-fit: cover;
      position: relative;
    }

    .sidebar, .search-group, .subscribe-group {
      /* width: 330px; */
      box-sizing: border-box;
      /* flex-basis: auto; */
      margin: 0;
      display: block;
      
      /* flex-grow: 1; */
    }
    

    .recent-post, .recent-posts, .search-text-input, .search-group, .search, .subscribe-group, .tags-container, .categories-container, .tag-list {
      width: 330px;
    }
    
    .trends-container, .categories {
      display: block;
    }

    .products-container {
      flex-wrap: wrap;
      justify-content: start;
    }

    .product-image {
      margin-left: -142px;
    }

    .product-container {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      position: relative;
      /* height: 260px; */
      margin: 254px 0 64px 0;
      padding: 54px 20px 0 20px;
      border: 2px solid #b59f5b;
    }

    .product {
      width: 98%;
      margin: 0 auto;
    }
  }

  @media (max-width: 640px) and (orientation: landscape) {
    .trends-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .trend {
      width: calc((100% - 4px) / 2);
      flex: 0 1 auto;
    }
  }